/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #434455
}

a:hover,
a:focus {
  color: #404bbf
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

address:hover,
address:focus {
  color: #404bbf
}

img {
  display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
  bottom: 1px solid #e7e8fc;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  gap: 40px;
  margin: 0;
  padding: 0;
}


.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.contacts-list {
  display: flex;
  justify-content: end;
  gap: 40px;
}


.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.button-section {
  max-width: 1440px;
  background-color: #2E2F42B2;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
  url('../images/people-office.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2e2f42;
  margin: 0 auto;
  padding: 188px 0;
}

.solutions-title {
  flex-wrap: wrap;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.solutions-title {
  max-width: 496px;
  margin: 0 auto 48px;
}


.main-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.preferred-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.preferred-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.preferred-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.preferred-item {
  width: calc((100% - 72px) / 4);
}


.icons-container {
  display: flex;
  width: 264px;
  height: 112px;
}

.icons {
  margin-left: 100px;
  margin-bottom: 24px ;
  align-items: center;
  padding: 0 auto;

}

.preferred-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex-basis: calc((100% - 72px) / 4);
}

.team-section {
  background-color: #F4F4FD
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 24px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.team-list-item {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-info-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms ease;
  border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icons {
  fill: #f4f4fd;
}


.team-person-name {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42 ;
}

.team-person-job{
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}


.portfolio-container {
  margin-bottom: 8px;
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}


.portfolio-info-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-image {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-part {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  flex-wrap: wrap;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  max-width: 264px;
  margin: 0;
}
